ul(class='nav nav-tabs')
	li(class="nav-item")
		a(data-toggle="tab", href="#tab-summary", class="nav-link active", role="tab") Summary
	li(class="nav-item")
		a(data-toggle="tab", href="#tab-raw", class="nav-link", role="tab") Raw

div(class="tab-content")
	div(id="tab-summary", class="tab-pane active", role="tabpanel")
		div(class="table-container")
			table(class="table table--primary")
				tr
					th(class="table-active properties-header") asset
					td(class="monospace") #{asset.asset}

				tr
					th(class="table-active properties-header") assetamount
					td(class="monospace") #{asset.assetamount}

				tr
					th(class="table-active properties-header") reissuedamount
					td(class="monospace") #{asset.reissuedamount}

				tr
					th(class="table-active properties-header") issuancetx
					td(class="monospace")
						a(href=("/tx/" + asset.issuancetx)) #{asset.issuancetx}

				tr
					th(class="table-active properties-header") mass
					td(class="monospace") #{asset.mass}

				tr
					th(class="table-active properties-header") ref
					td(class="monospace") #{asset.ref}

	div(id="tab-raw", class="tab-pane", role="tabpanel")
		pre
			code #{JSON.stringify(asset, null, 4)}
