div(class="table-container")
    table(class="table table--primary")
        tr
            th(class="table-active properties-header") asset
            td(class="monospace") #{asset.asset}

        tr
            th(class="table-active properties-header") token
            td(class="monospace") #{asset.token}

        if (asset.assetlabel)
            tr
                th(class="table-active properties-header") assetlabel
                td(class="monospace") #{asset.assetlabel}

        tr
            th(class="table-active properties-header") assetamount
            td(class="monospace") #{asset.assetamount}

        tr
            th(class="table-active properties-header") issuedamount
            td(class="monospace") #{asset.issuedamount}

        tr
            th(class="table-active properties-header") reissuedamount
            td(class="monospace") #{asset.reissuedamount}

        tr
            th(class="table-active properties-header") issuancetx
            td(class="monospace")
                a(href=("/tx/" + asset.issuancetx)) #{asset.issuancetx}
